.item {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.25rem;
}

.textContainer {
  height: 100%;
  border-bottom: 1px solid var(--color-text-secondary);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Keeps your text black/gray instead of turning blue */
}

.textContainer span {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font: var(--font-label);
}

.description {
  front: var(--font-label);
}

.checked {
  color: var(--color-text-secondary);
}

.userTag {
  width: 12rem; /* 192px fixed width */
  flex-shrink: 0; /* Critical: Prevents the tag from getting squished by long titles */
  margin-left: 1rem; /* Adds a little breathing room between the title and the tag */
}
