.item {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.25rem;
}

.textContainer {
  height: 100%;
  border-bottom: 1px solid var(--color-text-secondary);

  /* Fill remaining horizontal space */
  flex-grow: 1;

  display: flex;
  /* Stack title and description vertically */
  flex-direction: column;
  /* Center the text vertically within the row */
  justify-content: center;
  /* Stretch to fill width so text-overflow works */
  align-items: stretch;

  overflow: hidden;
}

/* Handles text truncation with "..." */
.textContainer span {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font: var(--font-label);
}

.description {
  font: var(--font-body);
}

/* Applied when task is checked */
.checked {
  color: var(--color-text-secondary);
}
